////COLOR PALETES
$white: #ffffff;
$offWhite: #F1F5F9;
$purple: #701A75;
$yellow: #FBBF24;
$lightblue: #0284C7;
$blue: #0F172A;
$darkBlue: #475569;

//FONT SIZES
$h1: 72px;
$h2: 56px;
$h3: 32px;
$h4: 24px;
$h5: 20px;
$paraFont: 16px;
$narrowText: 14px;
$btnText: 24px; 

$fontFamily: Roboto;

//FONT WEIGHTS
$light: 200;
$regular: 400;
$medium: 500;
$bold: 700;
